@import 'global';

.card {
  background-color: $blue-extra-light;
  color: $black;
  a {
    color: white;
    text-decoration: none;
  }

}

.card-title {
    font-family: "Barlow Condensed Bold";
    font-style: bold;
    font-weight: 500;
    margin-top: 0;
    color: #fff;
    font-size: 1.9rem;
    line-height: 133.1%;
    text-align: left;
}

.card-subtitle {
  font-family: "Source Sans Light";
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  color: #f28cbc;
  font-size: 1.125rem;
  letter-spacing: -0.01em;
  line-height: 149%;
  text-align: left;
}

.card-text {
    font-family: "Source Sans Light";
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    color: #b5b2d6;
    font-size: 1.125rem;
    letter-spacing: -0.01em;
    line-height: 149%;
    text-align: left;
}

.card-body{
  a {
    font-family: "Source Sans Light";
    color: white;
    text-decoration: none;
    text-align: left;
  }
  a:hover {
    color: #00adff;
  }
}


// Main Component
.main-container {
  overflow: hidden;
  .section-container {
    // padding-top: 3.625rem; // 58px
    // padding-bottom: 3.625rem; // 58px
    margin-bottom: 6.5rem; // 104px
    margin-top: 6.5rem; // 104px
    margin-right: 3.625rem; // 58px
    margin-left: 3.625rem; // 58px
    @include respond-to(mobile) {
      margin: 5.25rem 2.75rem 5.25rem 2.75rem;
    }
  }
  h1 span {
    color: $pink;
  }
  h2 span {
    color: $pink;
  }
  .caption-text-large {
    @include font-base($font-family-source, bold, 500);
    color: $gray-dark;
    font-size: 1.563rem; // 25x
    line-height: 149%;
    text-align: left;
    letter-spacing: -0.01em;
    @include respond-to(mobile) {
      font-size: 1.125rem; // 18px
    }
  }
  .caption-text-small {
    @include font-base($font-family-source, bold, 500);
    color: $gray-dark;
    font-size: 1.5rem; // 24x
    line-height: 133.1%;
    text-align: left;
    @include respond-to(mobile) {
      font-size: 1.125rem; // 18px
    }
  }
  .launch-button {
    @include text-button();
    background: $white;
    max-width: 19.625rem; // 314px
    height: 4.813rem; // 77px
    padding: 0.9375rem 1.125rem;
    background-color: $white;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10.5px;
    span {
      background: -webkit-linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @include respond-to(mobile) {
      font-size: 1.175rem; //
      height: 33px;
      padding: 9px 11px;
    }
    img {
      width: 1.8875rem; // 35px
      height: 1.9625rem; // 33px
      margin-left: 0.5625rem;
      @include respond-to(mobile) {
        width: 0.52625rem; // 25px
        height: 0.841875rem; // 25px
      }
    }
  }
  .launch-button:hover {
    background-color: $dark-white;
    color: #ff488e;
  }
  .main-top {
    padding-bottom: 73px;
    display: flex;
    flex-direction: column;
    @include respond-to(tablet) {
      flex-direction: row;
    }
    @include respond-to(desktop) {
      flex-direction: row;
    }
  }
  .main-top__left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
    @include respond-to(mobile) {
      margin-left: 40px;
    }

    .new {
      @include text-content();
    }
    .cellars {
      background: -webkit-linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: -25px;
      @include respond-to(mobile) {
        margin-top: -15px;
      }
    }
    .launch-button {
      @include text-button();
      margin-top: 41px;
      @include respond-to(mobile) {
        margin-top: 1rem;
      }
    }
  }
  .main-top__right-container {
    display: flex;
    justify-content: center;
    margin-left: 2.75rem;
    margin-top: 53px;

    @include respond-to(tablet) {
      margin-left: 2.75rem;
      margin-top: 0px;
    }
    @include respond-to(desktop) {
      width: 47%;
      margin-top: 0px;
      margin-left: auto;
    }

    img {
      padding: 77px;
      width: 100%;
      // height: 100%;
      max-width: 35.688rem;
      max-height: 42.688rem;
      object-fit: contain;
      @include respond-to(mobile) {
        padding: 25px;
        width: 275px;
      }
    }
  }
  // Welcome to Sommelier
  .main-welcome-why {
    display: flex;
    flex-direction: column;
    @include respond-to(mobile) {
      flex-direction: column-reverse;
    }
  }
  .main-welcome {
    color: $white;
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    img {
      width: 14.5rem;
    }
    h1 {
      margin-top: 49px;
    }
    h3 {
      margin-top: 30px;
    }
    .add-liquidity-button {
      @include text-button();
      text-decoration: none;
      padding: 0.94935rem 1.13921875rem;
      border-radius: 10.6327px;
      border: 3.22px solid #E323FF;
      margin-top: 60px;
    }
  }
  // Why Sommelier
  .main-why {
    background-color: $white;
    padding-top: 140px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
      color: $text-black;
      span {
        background: -webkit-linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      margin-bottom: 115px;
    }

  }
  .main-why__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    @include respond-to(tablet) {
      padding-left: 155px;
      padding-right: 155px;
    }
    @include respond-to(desktop) {
      padding-left: 155px;
      padding-right: 155px;
    }

    &-item {
      padding: 15px 25px;
      width: 100%;
      box-sizing: border-box;
      margin-block-end: 20px;

      @include respond-to(tablet) {
        width: 50%;
      }
      @include respond-to(desktop) {
        width: 25%;
      }

      h4 {
        @include heading-h4($text-black, center);
        display: block;
        margin-bottom: 20px;
        @include respond-to(tablet) {
          height: 140px;
        }
        @include respond-to(desktop) {
          height: 140px;
        }
      }
      p {
        @include text-content($text-black, center);
      }
    }
  }

  // Use Cases
  .main-usecases {
    padding-left: 50px;
    padding-right: 50px;

    @include respond-to(desktop) {
      padding-left: 100px;
      padding-right: 100px;
    }

    h2 {
      margin-bottom: 115px;
      text-align: center;
    }

    .main-usecases__content {
      display: flex;
      flex-direction: column;

      @include respond-to(tablet) {
        flex-direction: row;
      }

      @include respond-to(desktop) {
        flex-direction: row;
      }

      img {
        max-width: 261px;
        margin-left: 39px;
        margin-right: 39px;

        @include respond-to(tablet) {
          max-width: 448px;
        }
        @include respond-to(desktop) {
          max-width: 448px;
        }
      }

      &-item {
        flex: 1;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          text-align: center;
          margin-top: 74px;
          display: block;
          max-width: 358px;
          margin-left: auto;
          margin-right: auto;
        }

        p {
          @include text-content();
          text-align: center;
          display: block;
          max-width: 358px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  // Divider
  .main-divider {
    max-width: 1100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 1.16px;
    background: $divider;
  }

  // Roadmap
  .main-roadmap {
    h2 {
      text-align: center;
      margin-bottom: 4.688rem; // 75px
    }

  }
  .main-roadmap__content {
    background-color: none;
    border-radius: 0;;
    display: flex;
    justify-content: center;
    @include respond-to(tablet) {
      background-color: $blue-extra-light;
      margin: 0 3rem 0 3rem;
      padding: 3.125rem 0 3.125rem 0;
      border-radius: 3.125rem; // 50px
    }
    @include respond-to(desktop) {
      background-color: $blue-extra-light;
      margin: 0 0 0 3rem;
      padding: 3.125rem 3rem 3.125rem 0;
      border-radius: 3.125rem 0 0 3.125rem; // 50px
    }
    ul {
      // list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      // display: table;
      @include respond-to(mobile) {
        list-style: inside;
        li::before {
          content: "•";
          display: table-cell;
          text-align: right;
          padding-right: .3em;
        }
      }
      li {
        @include text-body();
        text-align: left;
        display: table-row;
        line-height: 29px;
        @include respond-to(mobile) {
          line-height: 25px;
        }
      }
    }
    .main-roadmap__content__stick {
      width: 35px;
      display: block;
      @include respond-to(mobile) {
        display: none;
      }
    }
    .main-roadmap__content__stick-mobile {
      width: 30px;
      display: none;
      @include respond-to(mobile) {
        display: block;
        margin-left: 2.5rem;
      }
    }
    .main-roadmap__content__q-left {
      flex: 1;
      flex-direction: column;
      display: flex;
      align-items: flex-end;
      padding-right: 4.25rem;
      display: none;
      @include respond-to(desktop) {
        display: block;
      }
      @include respond-to(tablet) {
        padding-right: 2.9rem;
        display: block;
      }
      div {
        margin-top: 21.2rem;
        float: right;
      }
      h3 {
        text-align: right;
      }
      ul li {
        text-align: right !important;
      }
    }
    .main-roadmap__content__q-right {
      flex: 1;
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      padding-left: 1.5rem;
      padding-right: 1rem;
      @include respond-to(desktop) {
        padding-left: 4.25rem;
      }
      @include respond-to(tablet) {
        padding-left: 2.9rem;
      }
      .main-roadmap__content__q-right__1 {
        margin-top: 7.6rem;
        @include respond-to(mobile) {
          margin-top: 1.7rem;
        }
      }
      .main-roadmap__content__q-right__2 {
        margin-top: 17.7rem;
        @include respond-to(mobile) {
          margin-top: 5rem;
        }
      }
      .main-roadmap__content__q-right__3 {
        display: none;
        @include respond-to(mobile) {
          display: block;
          margin-top: 3.3rem;
        }
      }
      h3 {
        text-align: left;
      }
    }
  }
  // About
  .main-about {
    display: flex;
    @include respond-to(mobile) {
      display: flex;
      flex-direction: column;
    }
    .main-about__left {
      flex: 1;
      margin-left: -3.625rem;
      .main-about__left__img-container {
        background-image: url('/images/img-about-mobile.png');
        width: 291px;
        height: 305px;
        @include respond-to(tablet) {
          background-image: url('/images/img-about-tablet.png');
          width: 423px;
          height: 757px;
        }
        @include respond-to(desktop) {
          background-image: url('/images/img-about1.png');
          width: 684px;
          height: 787px;
        }
      }
    }
    .main-about__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 4.3rem;
      @include respond-to(tablet) {
        margin-top: 0;
        padding-left: 0;
      }
      @include respond-to(desktop) {
        margin-top: 0;
        padding-left: 6.25rem;
      }
      p {
        @include text-body();
        margin-top: 2.125rem; // 24px
        width: 26.813rem; // 429px
        @include respond-to(mobile) {
          width: 17.875rem; // 286px;
        }
      }
    }
  }
  // Team
  .main-team {
    max-width: 82.75rem;
    padding-top: 117px;
    margin: 0 auto;
    @include respond-to(mobile) {
      margin-left: 0;
      margin-right: 0;
    }

    .main-team__content {
      padding: 116px 180px;
      @include respond-to(mobile) {
        padding: 27px 50px;
      }
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      &-member {
        width: 33%;

        padding: 0 15px;
        margin-bottom: 46px;

        @include respond-to(mobile) {
          margin-bottom: 20px;
          padding: 0 4px;
        }

        text-align: center;
        .img-avatar {
          max-width: 10.75rem;

          @include respond-to(mobile) {
            max-width: 83px;
          }
        }

        h4 {
          background: -webkit-linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @include respond-to(mobile) {
            font-size: 8px !important;
            line-height: 12px;
          }
        }
        .caption-container {
          div {
            justify-content: center;
            margin-top: 1.875rem;
            @include respond-to(mobile) {
              margin-top: 5px;
            }
            img {
              margin-left: 0.9rem;
              margin-right: 0.9rem;
              width: 36px;
              height: 36px; 
              @include respond-to(mobile) {
                margin-left: 4.5px;
                margin-right: 4.5px;
                width: 12px;
                height: 12px; 
              }
            }
          }
        }
      }
    }
  }
  .main-what {
    display: flex;
    padding-top: 32px;
    padding-bottom: 79px;
    align-items: center;
    justify-content: space-between;

    @include respond-to(desktop) {
      padding-top: 132px;
      padding-bottom: 132px;
    }

    &__left {
      width: 154px;
      margin-left: -77px;
      @include respond-to(desktop) {
        width: 444px;
        margin-left: -222px;
      }
    }
    

    &__right {
      width: 154px;
      margin-right: -77px;
      @include respond-to(desktop) {
        width: 444px;
        margin-right: -222px;
      }
    }

    &__middle {
      flex: 1;
      max-width: 777px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
      @include respond-to(desktop) {
        padding-left: 125px;
        padding-right: 125px;
      }

      h1 {
        text-align: center;
      }
      p {
        @include sub-title($white, center);
        margin-top: 50px;
      }

      .launch-button {
        @include text-button();
        margin-top: 48px;
      }
    }
  }
  .main-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 38px;
    @include respond-to(desktop) {
      padding-top: 125px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      padding: 11px 26px;
      background: $panel-black;
      width: 100%;
      margin-bottom: 24px;
      border-radius: 7.3px;
      @include respond-to(desktop) {
        padding: 18px 70px;
        border-radius: 20px;
        flex-direction: row;
      }
    }
    &-title {
      @include heading-h4();
      font-size: 13px !important;
      flex: 1;
      @include respond-to(desktop) {
        font-size: 26px !important;
      }
    }
    &-description {
      @include text-content($white, left);
      font-size: 12px !important;
      @include respond-to(desktop) {
        margin-left: 100px;
        width: 431px;
        font-size: 20px !important;
      }
      
    }
  }

  .main-cellar {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 73px;
    margin-top: 200px;
    // @include respond-to(tablet) {
    //   flex-direction: row;
    // }
    @include respond-to(desktop) {
      flex-direction: row;
      padding-left: 100px;
      padding-right: 100px
    }
  }

  .main-cellar__left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;

    @include respond-to(mobile) {
      margin-left: 40px;
    }

    .new {
      @include text-content();
    }
    .cellars {
      background: -webkit-linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: -25px;
      @include respond-to(mobile) {
        margin-top: -15px;
      }
    }
    .launch-button {
      @include text-button();
      margin-top: 41px;
      background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      span {
        -webkit-text-fill-color: $white
      }
      @include respond-to(mobile) {
        margin-top: 1rem;
      }
    }
  }
  .main-cellar__right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    @include respond-to(desktop) {
      margin-top: 0px;
      flex-direction: row;
    }

    .cellar-item {
      background: #0D182A;
      border: 2px solid #2F3B58;
      box-sizing: border-box;
      border-radius: 8.9px;
      width: 161px;

      margin-bottom: 15px;
      margin-left: 0px;

      @include respond-to(tablet) {
        width: 358px;
        border-radius: 20px;
      }

      @include respond-to(desktop) {
        border-radius: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        width: 358px;
      }

      &__header {
        background: #1A2543;
        border-bottom: 2px solid #323F5B;
        box-sizing: border-box;
        border-radius: 8.9px 8.9px 0px 0px;
        padding: 5px 8px;
        @include respond-to(tablet) {
          padding: 20px;
          border-radius: 20px 20px 0px 0px;
        }
        @include respond-to(desktop) {
          padding: 20px;
          border-radius: 20px 20px 0px 0px;
        }

        &__icon {
          text-align: center;
          margin-top: 12px;
          @include respond-to(tablet) {
            margin-top: 33px;
          }
          @include respond-to(desktop) {
            margin-top: 33px;
          }

          img {
            width: 29px;
            height: 29px;
            margin-left: 4px;
            margin-right: 4px;
            @include respond-to(tablet) {
              width: 65px;
              height: 65px;
            }
            @include respond-to(desktop) {
              width: 65px;
              height: 65px;
            }
          }
        }

        &__pool {
          @include font-base($font-family-lato, normal, 700);
          font-size: 18px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.0168em;
          color: $white;
          margin-top: 5px;
          @include respond-to(tablet) {
            @include font-base($font-family-lato, normal, 800);
            font-size: 40px;
            line-height: 150%;
          }
          @include respond-to(desktop) {
            @include font-base($font-family-lato, normal, 800);
            font-size: 40px;
            line-height: 150%;
          }
        }
      }

      &__body {
        padding: 7px 23px;
        @include respond-to(tablet) {
          padding: 17px 52px;
        }
        @include respond-to(desktop) {
          padding: 17px 52px;
        }
        
        p {
          @include font-base($font-family-lato, normal, 600);
          font-size: 7px;
          line-height: 10px;
          color: $white;
          letter-spacing: 0.0168em;
          margin-bottom: 0px;
          @include respond-to(tablet) {
            @include font-base($font-family-lato, normal, 600);
            font-size: 15.1095px;
            line-height: 150%;
          }
          @include respond-to(desktop) {
            @include font-base($font-family-lato, normal, 600);
            font-size: 15.1095px;
            line-height: 150%;
          }
        }
        span {
          @include font-base($font-family-lato, normal, normal);
          font-size: 6px;
          line-height: 8px;
          color: #D4D4D4;
          letter-spacing: 0.0168em;
          @include respond-to(tablet) {
            @include font-base($font-family-lato, normal, normal);
            font-size: 12.0876px;
            line-height: 150%;
          }
          @include respond-to(desktop) {
            @include font-base($font-family-lato, normal, normal);
            font-size: 12.0876px;
            line-height: 150%;
          }
        }
      }
      &__footer {
        text-align: center;
        .add-liquidity-button {
          @include font-base($font-family-lato, normal, 700);
          font-size: 8.6px;
          line-height: 12.95px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 84px;
          height: 25px;
          border: 1.6px solid $white;
          box-sizing: border-box;
          border-radius: 7px;
          color: $white;
          text-decoration: none;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 15px;
          margin-top: 15px;
          @include respond-to(tablet) {
            width: 184px;
            height: 56px;
            border: 2px solid $white;
            border-radius: 8.4px;
            @include font-base($font-family-lato, normal, 700);
            font-size: 20px;
            line-height: 29px;
            margin-bottom: 33px;
            margin-top: 33px;
          }
          @include respond-to(desktop) {
            width: 184px;
            height: 56px;
            border: 2px solid $white;
            border-radius: 8.4px;
            @include font-base($font-family-lato, normal, 700);
            font-size: 20px;
            line-height: 29px;
            margin-bottom: 33px;
            margin-top: 33px;
          }
        }
      }
    }

    .cellar-badge {
      @include font-base($font-family-lato, normal, 800);
      font-size: 6.5px;
      line-height: 9.3px;
      width: 43px;
      height: 10px;
      background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      border-radius: 6.26966px;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond-to(tablet) {
        width: 93px;
        height: 24.76px;
        @include font-base($font-family-lato, normal, 800);
        font-size: 14.6292px;
        line-height: 142%;
      }
      @include respond-to(desktop) {
        width: 93px;
        height: 24.76px;
        @include font-base($font-family-lato, normal, 800);
        font-size: 14.6292px;
        line-height: 142%;
      }
    }

    .cellar-pool-detail {
      margin-top: 6.5px;
      @include respond-to(tablet) {
        margin-top: 15px;
      }
      @include respond-to(desktop) {
        margin-top: 15px;
      }
      &-title {
        @include font-base($font-family-lato, normal, normal);
        color: #d4d4d4;
        font-size: 9.5px;
        line-height: 16.3px;
        @include respond-to(tablet) {
          font-size: 21.1533px;
          line-height: 36px;
        }
        @include respond-to(desktop) {
          font-size: 21.1533px;
          line-height: 36px;
        }
      }
      &-value {
        @include font-base($font-family-lato, normal, bold);
        color: $white;
        font-size: 19.3px;
        line-height: 16.3px;
        margin-top: 10px;
        @include respond-to(tablet) {
          margin-top: 14px;
          font-size: 42.3066px;
          line-height: 36px;
        }
        @include respond-to(desktop) {
          margin-top: 14px;
          font-size: 42.3066px;
          line-height: 36px;
        }
      }
    }

  }
}

.resource-container {
  h1 {
    @include font-base($font-family-barlow-bold, normal, 800);
    color: $white;
    text-align: left;
    font-size: 50px !important;
    line-height: 54px;
    border-bottom: 1px solid #2F2B4F;
    display: block;
    padding-bottom: 45px;

    @include respond-to(mobile) {
      font-size: 25px !important;
      line-height: 54px;
    }
  }
}

.resource-item {
  background: #0D182B;
  border: 0.943144px solid #2F3B58;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 46px 40px;
  margin-bottom: 81px;

  @include respond-to(mobile) {
    padding: 18px 16px;
    margin-bottom: 42px;
  }

  &__header {
    h2 {
      @include font-base($font-family-barlow-bold, normal, 800);
      color: $white;
      text-align: left;
      font-size: 40px !important;
      line-height: 54px;

      @include respond-to(mobile) {
        font-size: 15px !important;
        line-height: 20px;
      }
    }
  }
  &__divider {
    height: 1px;
    width: 554px;
    background: #2F2B4F;
    margin-top: 21px;
    @include respond-to(mobile) {
      width: 100%;
    }
  }
  &__body {
    display: flex;
    flex-direction: row;
    margin-top: 32px;

    @include respond-to(mobile) {
      flex-direction: column;
    }

    .resource-image {
      width: 554px;
      height: 437.75px;
      object-fit: cover;
      @include respond-to(mobile) {
        width: 100%;
        height: auto;
      }
    }
    .resource-content {
      @include font-base($font-family-lato, normal, 500);
      font-size: 22px;
      line-height: 30px;
      color: $white;
      margin-left: 36px;
      &-intro {
        margin-bottom: 47px;
        p {
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow-y: hidden;
        }
        @include respond-to(mobile) {
          margin-bottom: 18px;
        }
      }

      @include respond-to(mobile) {
        margin-left: 0px;
        font-size: 11px;
        line-height: 15px;
        margin-top: 19px;
      }
    }
    .read-more-button {
      width: 169px;
      height: 54px;
      background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      border-radius: 10.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include text-button();
      img {
        margin-top: 10px;
        margin-left: 7px;
        width: 21px;
        height: 15px;
        @include respond-to(mobile) {
          width: 11.46px;
          height: 7.81px;
          margin-top: 3px;
        }
      }
      @include respond-to(mobile) {
        width: 88px;
        height: 28.12px;
        border-radius: 5.46746px;
      }
    }
  }
}

.event-item {
  background: #0D182B;
  border: 0.943144px solid #2F3B58;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 46px 40px;
  margin-bottom: 81px;

  display: flex;
  flex-direction: row;

  @include respond-to(mobile) {
    padding: 18px 16px;
    margin-bottom: 42px;
    flex-direction: column;
  }

  &__left {
    width: 50%;
    padding-right: 28px;
    @include respond-to(mobile) {
      width: 100%;
      padding-right: 0px;
    }
  }

  &__right {
    width: 50%;
    padding-left: 28px;
    @include respond-to(mobile) {
      width: 100%;
      padding-left: 0px;
    }
  }

  h2 {
    @include font-base($font-family-barlow-bold, normal, 800);
    color: $white;
    text-align: left;
    font-size: 40px !important;
    line-height: 54px;

    @include respond-to(mobile) {
      font-size: 15px !important;
      line-height: 20px;
    }
  }

  &__divider {
    height: 1px;
    width: 100%;
    background: #2F2B4F;
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .event-detail {
    color: #DC23FF;
    font-size: 11.6801px;
    line-height: 19px;
    h6 {
      @include font-base($font-family-lato-bold, normal, 500);
    }
    span {
      @include font-base($font-family-lato, normal, 700);
    }
  }

  .event-image {
    width: 100%;
    margin-top: 35px;
    @include respond-to(mobile) {
      margin-top: 14px;
    }
  }

  .event-intro {
    @include font-base($font-family-lato, normal, 500);
    font-size: 22px;
    line-height: 30px;
    color: $white;
    margin-top: 65px;

    @include respond-to(mobile) {
      font-size: 11px;
      line-height: 15px;
      margin-top: 19px;
    }
  }

  .event-action {
    display: flex;
    justify-content: center;

    @include respond-to(mobile) {
      margin-top: 31px;
    }

    &-register {
      background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      border-radius: 10.5px;
      flex: 1;
      max-width: 200.07px;
      height: 54px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include font-base($font-family-lato, normal, 700);
      font-size: 20px;
      line-height: 24px;
      color: $white;
      @include respond-to(mobile) {
        max-width: 103.96px;
        height: 28.06px;
        font-size: 10.3923px;
        line-height: 12px;
        border-radius: 5.45596px;
      }
    }

    &-join {
      margin-left: 22px;
      flex: 1;
      max-width: 252.31px;
      height: 54px;
      background: $white;
      border-radius: 10.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond-to(mobile) {
        max-width: 133.1px;
        height: 28.49px;
        border-radius: 5.45596px;
      }
      span {
        @include font-base($font-family-lato, normal, 700);
        font-size: 20px;
        line-height: 24px;
        background: -webkit-linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include respond-to(mobile) {
          font-size: 10.3923px;
          line-height: 12px;
        }
      }
      img {
        margin-left: 8px;
        height: 23px;
        @include respond-to(mobile) {
          height: 12.13px;
          margin-left: 4.5px;
        }
      }
    }
  }
}